:root{
  --font-heading:'JetBrains Mono', Courier, monospace;
  --font-body:'JetBrains Mono', Courier, monospace;
}
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-heading);
}
body{
  font-family: var(--font-body);
  color: black;
}
a{
  text-decoration: none;
  color: black;
}
header{
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.128);
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}
header h1{
  font-size: 30px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
nav ul li:nth-of-type(4) a{
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
}
nav ul li:nth-of-type(4) a:hover{
  color: #00efa6;
}
#container{
  width: 70%;
  margin: 0px auto;
  margin-top: 50px;
  text-align: center;
}
.hero-section div h2{
  font-size: 52px;
}
.hero-section div p{
  font-size: 24px;
  width: 45%;
  margin: 15px auto 35px;
}
.hero-section div a{
  font-weight: 700;
  padding: 15px;
  border-radius: 35px;
}
.hero-section div a:nth-of-type(1){
  background-color: black;
  color:white;
}
.hero-section div a:nth-of-type(1):hover{
  color: #00efa6;
}
.hero-section div a:nth-of-type(2){
  border: 1px solid black;
}
.hero-section div a:nth-of-type(2):hover{
  background-color: #f5f5f5;
}
.cta-section{
  margin: 40px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px 0px 35px 0px;
}
.cta-section h2{
  font-size: 30px;
}
.cta-section p{
  font-size: 18px;
  margin: 10px auto 30px;
}
.cta-section a{
  font-weight: 700;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 35px;
  background-color: black;
  color: white;
}
.cta-section a:hover{
  color: #00efa6;
}