body {
  background: #f2f2f2;
}
.contenedor {
  background: #fff;
  padding: 20px;
  margin: 20px;
  .img {
    margin-right: 20px;
    float: left;
  }
  .caja {
    background: #000;
    color: #fff;
    padding: 20px;
    margin: 5px;
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
  .clear {
    clear: both;
  }
}
