body {
  margin: 0px;
}
.caja {
  width: 500px;
  height: 500px;
  background-color: #000;
  margin: 10px;
}
.gradiente-lineal {
  background: linear-gradient(
    45deg, 
    blue, 
    black
    );
  /* 
  Direcciones.
    basicas: - abajo para arriba
    to right - izq a der
    to bottom - arriba para abajo
    to left - der  a izq


    diagonales:
    to top left
    to top right
    to bottom left
    to bottom right

    en angulo:
    30deg - 30 grados
  */
}
.gradiente-radial {
  background: radial-gradient(
    lime,
    black,
    blue
  );
}
.gradiente-conico {
  background: conic-gradient(
    yellow,
    orangered
  );
}
.gradiente-imagen {
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.25),
    rgba(0,0,0,1)
  ), url('./img/bosque.avif');
}