*{
  margin: 0;
}
html{
  font-size: 20px;
}
/* Unidades relaticas:
  px - pixel
  % - porcetaje
  vw / vh - viewport width / viewport height - relativos al 1% del tamaño del viewport
  em - relativo al tamaño de la fuente que tenga su elemento padre o el más cercano
  rem - relativo al tamaño de fuente especificado en la etiqueta html

  Unidades absolutas:
  in - pulgadas
  cm - centimetros
  mm - milimetros
*/
.caja{
  background: rgba(86, 142, 168);
  width: 50vw;
  height: 50vh;
  font-size: 40px;

  .parrafo-uno{
    background: lightblue;
    width: 50%;
    height: 70%;
    font-size: 2em;
  }
}
.parrafo-dos{
  font-size: 2rem;
}